* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'MedievalSharp', cursive;
  font-size: 1.1em;
}

body {
  background-color: rgb(24, 23, 23);
  color: white;
  height: 100vh;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

#caracter-status {
  width: fit-content;
  padding: 10px;
  margin: 5px auto;
}

#caracter-status ul{
  list-style: none;
  display: flex;
  padding: 10px;
  margin: 0px 0px 20px;
  gap: 50px;
  border: 1px solid #882cf1;
}

.rest {
  font-size: 20px;
  width: fit-content;
  padding: 2px;
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

main{
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  height: 100%;
  gap: 30px;
}



.hide {
  display: none;
}

/* Pop Up */

.open-train-options, .open-hunt-options, .open-blacksmith-options {
  width: 110px;
  height: 60px;
  margin-top: 20px;
}

.pop-up-hunt, .pop-up-train {
  position: absolute;
  top: 12%;
  left: 25%;
  margin: 0 auto;
  height: 700px;
  width: 1000px;
  border: 1px solid rgb(69, 67, 62);
  box-shadow: 1px 1px 5px white;
  border-radius: 3%;
  animation: appear 0.5s forwards;
}

.pop-up-train .close-pop-up{
  margin-top: 250px
}

.pop-up-hunt .close-pop-up{
  margin-top: 100px
}

.pop-up-hunt ul, .pop-up-train ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 30px;
}

.pop-up-hunt ul li p, .pop-up-train ul li p{
  font-size: 60px;
  margin-top: 20px;
}

.pop-up-train button, .pop-up-hunt button{
  width: 250px;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: fit-content;
  bottom: 0%;
  align-items: left;
}

footer > p{
  font-size: 30px;
}

footer > button {
  width: fit-content;
  padding: 2px;
  margin: 10px 190px;
}

.console {
  border: 1px solid rgb(247, 245, 245);
  border-radius: 2%;
  box-shadow: 1px 1px 5px white;
  height: 200px;
  width: 500px;
  text-align: left;
  padding: 5px;
  overflow: auto;
  -ms-overflow-style: none;
  animation: appear 0.5s forwards;
}


.console::-webkit-scrollbar {
  display: none;
}

.console p{
  margin-top: 15px;
  padding: 2px;
  width: fit-content;
  font-size: 20px;
  color: white;
}